h1 
{
color: rgb(37, 37, 37);
text-align: center;
}

table {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table td table  th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table j tbody td {
    font-size: 13px;
  }
  table  td:nth-child(even) {
    background: #f3736f;
  }
  table  thead {
    background: #FFFFFF;
    border-bottom: 4px solid #f3736f;
  }
  table  thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #f3736f;
  }
  table  thead th:first-child {
    border-left: none;
  }
  
  table  tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #f3736f;
  }
  table  tfoot td {
    font-size: 14px;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #a7a7a7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #FFFFFF;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f3736f;
    color: white;
  }
  #footer {
    position:fixed;
    bottom:0;
    left:0;
    
}
li::marker {
  color: #f3736f;
}